@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{box-sizing: border-box}
body
{
	margin:0;
	background-color:#1B1A15;
	padding: 40px 60px
}
.header {
padding:20px;
	color: #FDF9DE;
	text-align: center;
	background-image: url(  "../pic/banner.jpg");
	border-radius: 20px;
}
h1 {
	font-family: "Abril Fatface", serif;
	font-size: 50px;
	color: hsla(0,45%,98%,1.00)
}
h2{  
	font-family: "Abril Fatface", serif;
	font-size: 36px;
	color: #FDF9F9;
	text-align:center
 }
h3{  
	font-family: "Abril Fatface", serif;
	font-size: 28px;
	color: #211614;
	text-align:center
 }
.topnav {
	width:100%;
	overflow:auto;
	background-color: #8D6E4F;
	text-align:center;
	font-size: 18px;
	line-height: 40px;
	border-radius: 20px;
}
.topnav a {
    color: #FDF9F9;
	line-height: 20px;
	text-decoration:none;
	padding: 10px 46px ;
    width:33.3%;
}
.topnav a:hover{
	line-height: 20px;
	background-color: #1B1A15;
		border-radius: 20px
}
.contents{
	background-color: #AB7A55;
	color:#FDF9DE;
	border-radius:20px;
	padding: 20px 30px;
	font-size:18px;
	float:left

}


.col{
	float:left;
  width: 25%;
  padding: 20px;
	text-align: center;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.two-col {
    overflow: hidden;
}

.two-col .col1,
.two-col .col2 {
    width: 49%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}
@media screen and (max-width: 600px) {
	.two-col {
    overflow: hidden;
}

.two-col .col1,
.two-col .col2 {
    width: 100%;
}

.two-col .col1 {
    float: none;
}

.two-col .col2 {
    float: none;
}

.two-col label {
    display: none;
}
}
@media screen and (max-width: 600px) {
  .col{
    width: 100%;
  }
}

.card{
	width:300px;	
	height:400px;
	display:inline-block;
	border-radius: 10px;
	padding:20px 36px;
    cursor:pointer;
	margin: 20px;
	backgroung-position: center;
	background-size: cover;
}


.card1{
	background-image: url( "../pic/26ec1f5457afaaf60db8c02a3383c0aa.jpg")
}
.card2{
	background-image: url("../pic/f.jpg")
}
.card3{
	background-image: url( "../pic/bbss.jpg")
}
.card4{
	background-image: url("../pic/9f67af0b2a4b98a42c210b6ba273114b.jpg")
}
.card5{
	background-image: url( "../pic/wworkl 2.jpg")
}
.card6{
	background-image: url( "../pic/world 3.jpg")
}
.card7{
	background-image: url( "../pic/workd.jpg")
}
.card8{
	background-image: url( "../pic/world.jpg")
}

.footer{
	background-color: hsla(26,43%,51%,1.00);
margin:0;
	padding:20px;
  left: 0;
  bottom: 0;
	  width: 100%;
color:hsla(79,67%,92%,1.00);
	 text-align: center;
	font-size: 18px
}

.gallery-row{
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 10px;
}
.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 33.3%;
    flex: 33.3%;
    max-width: 33.3%;
  }
}
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
p1 { 
color: #1F150B;
font-size: 22px
}
